@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.ttf);
}
@font-face {
  font-family: FrankRuhlLibre;
  src: url(../fonts/FrankRuhlLibre-Regular.ttf);
}

/* Body */
body {
  position: relative;
  background: #ffffff;
  font-family: FrankRuhlLibre;
}

/* Logo */
.Logo {
  font-family: Cinzel !important;
  color: #47372e;
}

/* Nav Bar */
.nav-bar-hover a:hover {
  background-color: #f0d192;
  color: #47372e !important;
}
.NavbarBG {
  background: #5c9aa1;
}

.nav-font-color {
  font-family: FrankRuhlLibre;
  font-size: 18px;
  color: #ffffff !important;
}
